.cntlbtn{
    width: 2em;
    height: 2em;
    vertical-align: middle;
    background-color: #ccccff;
    border-style: none;
    border-radius: 3px;
}

.cntlbtn:hover{
    background-color: #9999ff;
}

.columnAttributes{
    display: table-row;
    width:95%;
}

.columnAttribute{
    display: table-cell;
    font-size: 1em;
    min-height: 5em;
    padding: 0.5em 0.5em;
}
